*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.first-screen {
    background-color: #F9F9FB;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 86px;
}
.logo img {
    width: 40px;
    height: 40px;
}
.logo {
    width: 123px;
    height: 40px;
    display: flex;
    color: #064BB4;
    margin-top: 23px;
}
.logo2 {
    width: 123px;
    height: 40px;
    display: flex;
    color: #064BB4;
    margin-top: 23px;
}
.logo  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.065em;
    padding-top: 8px !important;
    padding-left: 6px;
    color: #064BB4;
}
.logo2 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.065em;
    padding-top: 8px !important;
    padding-left: 6px;
    color: #064BB4;
}
.logo span{
    padding-top: 8px !important;
    font-weight: 600;
    color: #064BB4;
}
.logo2 span {
    padding-top: 8px !important;
    font-weight: 600;
    color: #064BB4;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 500px;
    margin-top: 31px;
}
.menu li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8E8E93;
    letter-spacing: 0.005em;
    opacity: 0.56;
    
}
.menu a {
    text-decoration: none !important;
}
.menu li:hover {
    opacity: 100;
    color: #1C1C1E;
}
.frame{
    width: 254px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    justify-content: space-between;
    display: flex;
    
}
.buy {
    width: 40px;
    height: 40px;
    background-color: #F9F9FB;
    border: 0;
}
.buy img {
    color: #1C1C1E;
}
.CTA {
    display: flex;
}
.logIn {
    background-color: #F9F9FB;
    padding: 12px 16px;
    border: 1px solid #1C1C1E;
    border-radius: 20px;
    color: #1C1C1E;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    margin-right: 16px;
}
.signUp {
    background-color: #BCFF5E;
    padding: 12px 16px;
    border: 1px solid #F9F9FB;
    border-radius: 20px;
    color: #1C1C1E;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
}
h1 {
    margin-top: 74px;
    font-size: 72px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0.005em;
    margin-bottom: 18px;
    color: #1C1C1E;
}
h1 span {
    font-size: 72px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.005em;
}
.contact-menu p {
    width: 462px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636366;
}
.form {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.form-left p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
    margin-bottom: 8px;
}
input {
    width: 721px;
    height: 52px;
    border-radius: 24px;
    border: 1px solid #E9EBED;
    background-color: #FFFFFF;
    padding-left: 16px;
    margin-bottom: 24px;
    text-align: left;
}
input ::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #AEAEB2;
}
.SendMessage {
    width: Hug (191px);
    height: Hug (56px);
    padding: 16px 40px 16px 40px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
    background-color: #BCFF5E;
    border: none;
    margin-left: 530px;
    margin-top: 24px;
    margin-bottom: 120px;
}
.form-right {
    width: 399px;
    height: 346px;
    padding: 24px;
    border-radius: 20px;
    gap: 32px;
    background-color: #FFFFFF;
}
.form-right h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
    margin-bottom: 8px;
}
.form-right span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636366;
}
.list {
    margin-top: 32px;
}
.list1 {
    display: flex;
    margin-bottom: 20px;
}
.list1 img {
    width: 48px;
    height: 48px;
}
.list1 p {
    padding: 12px;
}
.seven-screen {
    background-color: #08172D;
    padding-top: 120px;
}
.footer1 {
    display: flex;
}
.logo1{
    width: 123px;
    height: 40px;
    display: flex;
    color: white;
    margin-bottom: 16px;
}
.logo1 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.065em;
    padding-top: 8px;
    padding-left: 6px;
}
.logo1 span{
    font-weight: 600;
    color: white;
}
.info{
    margin-bottom: 96px;
}
.info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    letter-spacing: 0.005em;
    color: #AEAEB2;
    width: 363px;
}
.footer-menu {
    width: 296px;
    margin: 0 88px 0 88px;
}
.footer-menu1 ul {
    display: flex;
    width: 296px;
    justify-content: space-between;
    list-style: none;
}
.footer-menu1 a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #C5C5C5;
}
.footer-menu2 ul {
    display: flex;
    width: 296px;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 32px;
}
.footer-menu2 a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #C5C5C5;
}
.newsletter p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #8E8E93;
    margin-bottom: 16px;
}
.input {
    display: flex;
}
.input input {
    width: 247px;
    padding: 16px 32px;
    gap: 8px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 32px;
    margin-right: 16px;
}
.send {
    width: 103px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 32px;
    gap: 8px;
    background-color: #BCFF5E;
    color: #1C1C1E;
}
.footer {
    border-bottom: 1px solid #E9EBED;
}
.footer2 {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}
.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #AEAEB2;
}
.Social_Media {
    margin-bottom: 24px;
}
.Social_Media img {
    margin-right: 10px;
    margin-top: -15px;
}
.btn-menu{
    width: 268px;
    display: flex;
    justify-content: space-between;
}
.btn-menu a {
    text-decoration: none;
    color: #C5C5C5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;    
}

