*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.first-screen {
    background-color: #F9F9FB;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 86px;
}
.logo img {
    width: 40px;
    height: 40px;
}
.logo {
    width: 123px;
    height: 40px;
    display: flex;
    color: #064BB4;
    margin-top: 23px;
}
.logo2 {
    width: 123px;
    height: 40px;
    display: flex;
    color: #064BB4;
    margin-top: 23px;
}
.logo  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.065em;
    padding-top: 8px !important;
    padding-left: 6px;
    color: #064BB4;
}
.logo2 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.065em;
    padding-top: 8px !important;
    padding-left: 6px;
    color: #064BB4;
}
.logo span{
    padding-top: 8px !important;
    font-weight: 600;
    color: #064BB4;
}
.logo2 span {
    padding-top: 8px !important;
    font-weight: 600;
    color: #064BB4;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 500px;
    margin-top: 31px;
}
.menu li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8E8E93;
    letter-spacing: 0.005em;
    opacity: 0.56;
    
}
.menu a {
    text-decoration: none !important;
}
.menu li:hover {
    opacity: 100;
    color: #1C1C1E;
}
.frame{
    width: 254px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    justify-content: space-between;
    display: flex;
    
}
.buy {
    width: 40px;
    height: 40px;
    background-color: #F9F9FB;
    border: 0;
}
.buy img {
    color: #1C1C1E;
}
.CTA {
    display: flex;
}
.logIn {
    background-color: #F9F9FB;
    padding: 12px 16px;
    border: 1px solid #1C1C1E;
    border-radius: 20px;
    color: #1C1C1E;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    margin-right: 16px;
}
.signUp {
    background-color: #BCFF5E;
    padding: 12px 16px;
    border: 1px solid #F9F9FB;
    border-radius: 20px;
    color: #1C1C1E;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
}
.Review {
    margin-top: 120px;
    margin-left: 540px;
    width: 116px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid #E9EBED;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #064BB4;
}
h4 {
    width: 426px;
    margin-top: 24px;
    margin-left: 386px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #171725;
}
.doubleProgram{
    margin-top: 48px;
    margin-left: 170px;
    display: flex;
}
.programs{
    width: 873px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
}
.programList{
    width: 291px;
    height: 278px;
}
.programList img{
    width: 48px;
    height: 48px;
    margin-top: 24px;
    margin-left: 24px;
}
.programList p {
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
    margin-left: 24px;
}
.programList span {
    display: inline-block;
    width: 245px;
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636366;
    margin-left: 24px;
}
.programList1{
    width: 291px;
    height: 280px;
    background-color: #BCFF5E;
}
.programList1 img{
    width: 48px;
    height: 48px;
    margin-top: 24px;
    margin-left: 24px;
}
.programList1 p {
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
    margin-left: 24px;
}
.programList1 span {
    display: inline-block;
    width: 245px;
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636366;
    margin-left: 24px;
}
.learnMore {
    display: flex;
}
.learnMore p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
}
.learnMore img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.learnMore1 {
    display: flex;
}
.learnMore1 p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
}
.learnMore1 img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.second-screen {
    background-color: #F9F9FB;
    padding-top: 120px;
}
.main {
    display: flex;
}
.FAQ {
    width: 421px;
    margin-right: 80px;
}
.FAQ h1 {
    font-weight: 500;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
    margin-bottom: 16px;
}
.FAQ .text {
    display: flex;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
}
.FAQ span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636366;
}
.BookaClass {
    width: 176px;
    height: 56px;
    background-color: #BCFF5E;
    padding: 16px 40px;
    border: none;
    border-radius: 24px;
    color: #1C1C1E;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    margin-top: 48px;
}
.acordion {
    width: 700px;
}
.acordion h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
    text-align: left;
    width: 504px;
}
.ac1 {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.ac1 p {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
}
.ac1 img {
    width: 20px;
    height: 20px;
}
.ac_span {
    width: 645px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636366;
    margin-top: 16px;
}
.ac2 {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.ac2 p {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
}
.ac2 img {
    width: 20px;
    height: 20px;
}
.third-screen{
    background-color: #F9F9FB;
}
.third-screen h4 {
    margin-top: 16px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.005em;
    width: 317px;
    margin-left: 430px;
    margin-bottom: 48px;
}
.content {
    width: 676px;
    display: flex;
    margin-left: 222px;
}
.content2 {
    width: 604px;
}
.content2 p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #AEAEB2;
    margin-bottom: 16px;
}
.content2 h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.005em;
    color: #000000;
    width: 604px;
    margin-bottom: 32px;
}
.foto{
    display: flex;
}
.foto img {
    margin-right: 12px;
}
.foto p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #000000;
    margin-bottom: 4px;
}
.foto span {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #000000;
}
.content1 {
    padding-right: 16px;
}
.carusel {
    margin-top: 32px;
    margin-left: 550px;
    padding-bottom: 120px;
    display: flex;
    padding-top: 4px;
    height: 32px;
}
.carusel button {
   border: 0 !important;
   background-color: #F9F9FB;
}
.carusel_left {
    margin-right: 16px;
}
.carusel_slider {
    padding-top: 4px;
}
.carusel_slider button {
    margin-right: 4px;
}
.carusel_right {
    margin-left: 16px;
    padding-bottom: 12px;
}
.four-screen {
    background-color: #08172D;
    padding-top: 120px;
}
.footer1 {
    display: flex;
}
.logo1{
    width: 123px;
    height: 40px;
    display: flex;
    color: white;
    margin-bottom: 16px;
}
.logo1 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.065em;
    padding-top: 8px;
    padding-left: 6px;
}
.logo1 span{
    font-weight: 600;
    color: white;
}
.info{
    margin-bottom: 96px;
}
.info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    letter-spacing: 0.005em;
    color: #AEAEB2;
    width: 363px;
}
.footer-menu {
    width: 296px;
    margin: 0 88px 0 88px;
}
.footer-menu1 ul {
    display: flex;
    width: 296px;
    justify-content: space-between;
    list-style: none;
}
.footer-menu1 a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #C5C5C5;
}
.footer-menu2 ul {
    display: flex;
    width: 296px;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 32px;
}
.footer-menu2 a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #C5C5C5;
}
.newsletter p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #8E8E93;
    margin-bottom: 16px;
}
.input {
    display: flex;
}
.input input {
    width: 247px;
    padding: 16px 32px;
    gap: 8px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 32px;
    margin-right: 16px;
}
.send {
    padding: 16px 32px;
    gap: 8px;
    width: 103px;
    background: #BCFF5E;
    border-radius: 32px;
}
.footer {
    border-bottom: 1px solid #E9EBED;
}
.footer2 {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}
.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #AEAEB2;
}
.Social_Media {
    margin-bottom: 24px;
}
.Social_Media img {
    margin-right: 10px;
    margin-top: -15px;
}
.btn-menu{
    width: 268px;
    display: flex;
    justify-content: space-between;
}
.btn-menu a {
    text-decoration: none;
    color: #C5C5C5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;    
}